.fixed_button {
    width: 80px !important;
}
@media (min-width: 979px) {
  .dropdown:hover .dropdown-menu {
  display: block;
  }
}
ul { list-style-type: none; }
.fixed_middle_right	{ position:fixed; top:50%; right:2%; }
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
             box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808;
}

.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
@media (max-width: 357px) {
  .flip-clock-wrapper ul {
    width: 35px;
  }
}

.flip-clock-wrapper {
  width: auto;
}

.goth {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.watched {
  padding:0;
  background-color: #308e34;
  border: none;
  color: white;
}
.unwatched {
  padding:0;
  background-color: #8e3035;
  border: none;
  color: white;
}
.uptodate {
  padding:0;
  background-color: #20932d;
  border: none;
  color: white;
}
.behind {
  padding:0;
  background-color: #6f2093;
  border: none;
  color: white;
}
.complete {
  padding:0;
  background-color: #938420;
  border: none;
  color: white;
}
#global {
position: relative;
width: 100%;
height: 100%;
}

#wrapper {
position: relative;
width: 960px;
height: auto;
margin: 0 auto;
background-color:rgba(243,247,195,0.6);
-webkit-back-shadow: 0px 0px 16px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
overflow: hidden;
}

#header {
  background-color:rgba(243,247,195,1);
  width: inherit;
  height: 50px;
  position: fixed;
  top: 0px;
  bottom:0px;
  opacity: 1;
  z-index:1;
/*position: fixed;
margin: 0 auto;
height: 10%;
/*min-height: 208px;
max-height: 320px;*/
/*background-color: white;
background-repeat: no-repeat;*/
}

#intro {
  position:relative;
  height: 100%;
  font-size:39;
  text-align: center;
  width:100%;
  margin-top: 5%;
  font-family: 'Podkova';
  color: #6d6d6a;
  background-color:rgba(243,247,195,0.4);
}

.profilepic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 10px;
  border-color: black;
  margin-top: 7%;
  -webkit-transform: scale(1);
}

#introduction {
  position:relative;
  height: 100%;
  font-size:22;
  width:100%;
  /*margin:5px;*/
}

#experiences {
  position:relative;
  height: 100%;
  font-size:22;
  width:100%;
  /*margin:5px;*/
}

#contacts {
  position:relative;
  height: 100%;
  font-size:22;
  width:100%;
}

#projects {
  position:relative;
  height: 100%;
  font-size:22;
  width:100%;
}

.leftCol {
      position: absolute;
      overflow: auto;
      right: 50%;
      left: 0;
      top: 0;
      bottom: 0;
      font-family: 'Kaushan Script', cursive;
      font-size: 45;
      color: #7b7e84;
}

.rightCol {
    position: absolute;
    overflow: auto;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 0;

  }

#nav {
position: inherit;
color: white;
width: inherit;
}

#nav ul {
display: block;
width: inherit;
height: inherit;
}

#nav li {
display: inline;
margin: 0 2px;
padding: 4px 10px;
list-style-type: none;
cursor: auto;
background-color: #d8d8a6;
}

#nav li.hover {
background-color: #eaeff2;
}

#contacts li {
  display: inline;
  padding: 10px 20px;
  opacity: 0.9;
}

#experience_left{
  color: #7b7e84;
  text-align: center;
}

#experience_right{
  background-color: white;
}

#project_left{
  background-color: white;
}

#project_right{
  color: #7b7e84;
}

#contact_left{
  color: #7b7e84;
  vertical-align: middle;
}

#contact_right{
  background-color: white;
}

.text_align{
  text-align: center;
  margin-top: 60%;
}

#experience_right li {
    display: inline;
    cursor: auto;
}

.items {
font-family: 'Podkova';
color: #7b7e84;
}


.logo{
  height:12%;
  width:12%;
  margin: 10%;
  margin-top: 15%;
}

.desc {
    padding: 10% ;
    text-align: left;
    background-color: #e5eecc;
    font-family: 'Podkova';
    color: #7b7e84;
    padding: 10%;
    display: none;
    letter-spacing: 0.09em;
    font-size: 17;
}

h5{
    font-family: 'Podkova';
    font-weight: 700;
    color: #7b7e84;
    font-size: 20;
}

#contacts_right_col {
  margin-top:20%;
  padding: 10% ;
  letter-spacing: 0.1em;
  text-align: center;
  font-family: 'Podkova';
  color: #7b7e84;
  font-size: 17;
  font-weight: 500;
}

#contacts_right_italic {
  font-family: 'Podkova';
  color: #7b7e84;
  font-size: 17;
  font-weight: 500;
  font-style: italic;
}

.project_wrapper {
    max-width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.right {float: right !important;}

.parent {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.bg-one {background-image: url(../images/Movies_App.jpg);}
.bg-two {background-image: url(../images/Tv_App.jpg);}
.bg-three {background-image: url(../images/Countries_App.jpg);}
.bg-four {background-image: url(../images/Game_App.jpg);}

.proj_images {
  font-size: 35px;
  color: white !important;
  font-family: sans-serif;
  font-weight:bold;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: transform 5s ease-in-out;
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover proj_images, .parent:focus proj_images {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52,73,94,0.75);
}
