.fixed_button {
    width: 80px !important;
}
@media (min-width: 979px) {
  .dropdown:hover .dropdown-menu {
  display: block;
  }
}
ul { list-style-type: none; }
.fixed_middle_right	{ position:fixed; top:50%; right:2%; }
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
             box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
@media (max-width: 357px) {
  .flip-clock-wrapper ul {
    width: 35px;
  }
}

.flip-clock-wrapper {
  width: auto;
}

.goth {
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.watched {
  padding:0;
  background-color: #308e34;
  border: none;
  color: white;
}
.unwatched {
  padding:0;
  background-color: #8e3035;
  border: none;
  color: white;
}
.uptodate {
  padding:0;
  background-color: #20932d;
  border: none;
  color: white;
}
.behind {
  padding:0;
  background-color: #6f2093;
  border: none;
  color: white;
}
.complete {
  padding:0;
  background-color: #938420;
  border: none;
  color: white;
}
#global {
position: relative;
width: 100%;
height: 100%;
}

#wrapper {
position: relative;
width: 960px;
height: auto;
margin: 0 auto;
background-color: #f3f7c3;
-webkit-back-shadow: 0px 0px 16px rgba(0,0,0,0.2);
-webkit-box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
box-shadow: 0px 0px 16px rgba(0,0,0,0.2);
overflow: auto;
opacity: 0.7;
}

#header {
position: relative;
margin: 0 auto;
height: auto;
min-height: 208px;
max-height: 320px;
background-color: #f3f7c3;
background-repeat: no-repeat;
}

#intro {
  position:relative;
  height: 520px;
  font-size:39;
  text-align: center;
  width:100%;
  margin:5px;
}
#experiences {
  position:relative;
  height: 520px;
  font-size:20;
  text-align: center;
  width:100%;
  margin:5px;
}

#contacts {
  position:relative;
  height: 520px;
  text-align: center;
  width:100%;
  margin:5px;
}

#projects {
  position:relative;
  height: 520px;
  font-size:20;
  text-align: center;
  width:100%;
  margin:5px;
}

#nav {
position: relative;
margin: 56px auto;
color: white;
}

#nav ul {
margin: 0;
padding: 0;
}

#nav li {
display: inline;
margin: 0 2px;
padding: 4px 10px;
list-style-type: none;
cursor: auto;
background-color: #c7d157;
font-weight: bold;
}

/*#nav li.active {
background-color: #eaeff2;
}
#nav li.hover {
background-color: #eaeff2;
}*/

#contacts li {
  display: inline;
  padding: 10px 20px;
  opacity: 0.9;
}
